name: pdf_reader_manager
description: PDF Reader with Search
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  file_picker: ^10.3.7
  # url_launcher ve path_provider KALDIR
  syncfusion_flutter_pdfviewer: ^23.2.6  # YENİ EKLENDİ

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  uses-material-design: true
